@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.card {
  @apply mb-5 block rounded-lg shadow-md bg-white shadow-slate-300 border border-gray-200;

}

.primary-button {
  @apply py-2 px-4 shadow outline-none hover:bg-amber-500  active:bg-amber-500 font-medium text-white bg-primary  border-amber-500;
}
