@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

.card {
  @apply mb-5 block rounded-lg shadow-md bg-white shadow-slate-300 border border-gray-200;
}

.primary-button {
  @apply py-2 px-4 shadow outline-none hover:bg-amber-500  active:bg-amber-500 font-medium text-white bg-primary  border-amber-500;
}

.default-button {
  @apply py-2 px-4 shadow outline-none hover:bg-amber-500  active:bg-amber-500 font-medium text-white bg-primary  border-amber-500;
}

.default-button {
  @apply py-2  px-4 shadow outline-none hover:bg-gray-200  active:bg-gray-300 font-medium  text-black bg-gray-100 border-gray-300;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
